
<%#= will_paginate %>
<br>
<br>
<ul class="courses">
<% if @courses.any? %>
      <h1>Courses (<%= [@courses["elements"].size() , 15].min %>)</h1>
  <table>
  <tr>
      <th> Courses  </th>
      <th>  Partners  </th>
      <th> </th>
      <th> Instructors </th>
      <th> Logo </th>
  </tr>
  <% for i in 0..[@courses["elements"].size() , 15].min - 1 %>
  <tr>
      <th><%=  @courses["elements"][i]["name"] %>  </th>
      <th><%=  @details_of_partners_mapping[@courses["elements"][i]["partnerIds"][0]] %>  </th> 
      <th> </th>
      <% if @details_of_instructors_mapping[@courses["elements"][i]["instructorIds"][0]] != "" %>
        <th><%=  @details_of_instructors_mapping[@courses["elements"][i]["instructorIds"][0]] %>  </th>
      <% else %>
        <th> No Instructor Found </th>
      <% end %>

      <% if @courses["elements"][i]["partnerLogo"] != ""  %>
        <th><%= image_tag @courses["elements"][i]["partnerLogo"]  %>  </th>
      <% else %>
        <th> No Image Found </th>
      <% end %>
    </tr>
	<% end %>
  </table>
	<% end %>
</ul>